.aside {
    width: 38%;
    background-color:rgb(9, 9, 9, 0.5);
    border-radius: 0.3em;
}

.aside-box{
    display: flex;
    border: 3px double black;
    margin-bottom: 1em;
    justify-content: space-between;
    border-style: double;
    background-color:rgb(255, 255, 255);
    border-radius: 0.3em;
    opacity: 1;
    height: 120px;

}

.aside-box img {
    width: 100px;
    height: 120px;
    border-radius: 0.3em;
}

.name {
    text-align: center;
    padding: 2em 0 1em;
    display: flex;
    justify-content: center;
}

.aside-box button{
    background-color: transparent;
    border: none;
    cursor:pointer;
    padding: 1em;
}


/* @media screen and (max-width: 1440px) {}

@media screen and (max-width: 1200px) {
    .aside {
        _width: 25%;
    }

} */