.aside{
    width:25%;
}

.photo{
 display: flex;
 border: 1px solid black;
 margin-bottom: 1em;
}

.photo img{
    width: 80px;
    height: 100px;
    border-radius: 0.2em;
}

p{
    text-align: center;
    padding: 1em;
}
h4{
    text-align: left;
}
@media screen and (max-width: 1440px) {
    
}
@media screen and (max-width: 1200px) {
    .aside {
            width: 25%;
    }
   
}