.character {
    _width: 28%;
    padding: 2em;
    _margin: 1.2em auto;
    _margin: 1em auto;
    background-color: rgba(133, 124, 124, 0.158);
    border-radius: 0.3em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 7px 18px,rgba(0, 0, 0, 0.22) 0px 5px 5px;
}
.character img{
    width: 220px;
    height: 250px;
    border-radius: 0.3em;
}

.character div{
    _padding: 0.3em;
    width: 100%;
    text-align: center;
}
.title{
   word-wrap:break-word;
   width: 220px;
}
.image {
    width: 80%;
}

.box{
    display: flex;
    flex-wrap: wrap;
    _justify-content:center;
    gap: 1.2em;
    width: 100%;
}
.m{
    width: 65%;
}

.button-box{
    width: 80%;
    display:flex;
    justify-content: space-between;
    margin-top: 0.5em;
}

.button-box button{
    width: 30%;
    padding: 0.5em 0em;
    border-radius: 1em;
    background-color: lightgray;
}
@media screen and (max-width: 1440px) {
    .character img{
        width: 195px;
        height: 225px;
    }
    .character{
        padding: 1em;
    }
         .title {
             font-size: 1em;
    
         }
          .title p {
              padding: 0;
          }
                   .title {
                       font-size: 0.9em;
        
                   }
}

 @media screen and (max-width: 1200px){
    .character img {
            width: 165px;
            height: 195px;
        }
    .character{
        padding: 1em;
    }
    .title{
        font-size: 0.8em;

    }
    .title p{
        padding: 0;
    }
    .m {
        width: 65%;
    }

 }

