.search-box {
  width: 62%;
  display: flex;
}

.main-box {
  width: 100%;
  display: flex;
  padding: 1em;
}

.search-button {
  color: #fff;
  padding: 0px 1.5em;
  border-radius: 100px;
  background-color: #4C43CD;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 16px;
  border: 0;
  user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}

.search-input{
  border: none;
  color: #999;
  float: left;
  padding: 0.7em;
  width: 16%;
  margin-right:2%;
  background-color: rgb(255, 255, 255, 0.85);
  border-radius:1.2em;
}

.search-input:focus {
  outline: 0;
  cursor: auto;
  background-color: rgb(255, 255, 255, 1);
}

.my-team{
    text-align: left;
    color: rgb(255, 255, 255, 0.9);
    _border-bottom: 5px solid rgb(255, 255, 255);
    width: 35%;
    font-weight: bold;
    font-size: x-large;
    text-decoration: solid;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .search-box {
    width: 40%;
    justify-content: center;
  }
  .search-input{
    margin-left: -5%;
    width: 20%;
  }
  .my-team{
    width: 60%;
    text-align: center;
  }

}