.header {
    background-color: black;
    padding: 0;
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 2em;
    height: 3.5em;
}
.header img{
    cursor: pointer;
}
