.App {
  text-align: center;
}
.search-container {
  width: 100%;
  display: flex;;
  justify-content: space-between;
  gap:40%;
  padding: 1em;
}

.search-container h4{
  text-align: left;
}

.main-container{
  width: 100%;
  display: flex;
  justify-content: center;
}
.main{
  display: flex;
  justify-content: center;
  padding: 1em;
}
.team{
  width: 25%;
}



