.container{
  width: 100%;
  min-height: 100vh;
}

.main-box {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.box {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2em;
  width: 65%;
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .box {
    width: 70%
  }

}
@media (min-width: 1025px) and (max-width: 1280px) {
  .box {
    width: 60%
  }

}
@media (min-width: 769px) and (max-width: 1024px) {
  .box {
    width: 70%;
    gap: 1em;
  }

}
@media (min-width: 481px) and (max-width: 768px) {
  .box {
    width: 50%;
    justify-content: center;
  }
 
 
}
@media (min-width: 319px) and (max-width: 480px) {
  .box {
    width: 50%;
  }
  .main-box{
    justify-content: center;
    gap: 4em;
  }
}